@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}

@import "reset";
@import "fonts";
@import "vars";
@import "global";


.header {
  padding: 50px 0;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__nav {
    display: flex;
    font-size: 18px;
    margin-left: 193px;
  }

  &__item {
    padding: 15px 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &--active {
      background-color: $main_color;
      color: $white;
    }

    &:hover {
      background-color: $main_color;
      color: $white;
    }
  }

  &__drop {
    display: flex;
  }

  &__user {
    margin-left: 90px;
    display: flex;
    align-items: center;
  }

  &__cart {
    position: relative;
    margin-right: 22px;

    button {
      width: 25px;
      height: 25px;
      background-image: url(../img/cart.svg);
      background-size: cover;
      background-position: center center;
    }
  }

  &__quantity {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: $secondary_color;
    border-radius: 50%;
    top: -3px;
    right: -4px;
  }

  &__price {
    margin-right: 36px;
  }

  &__login {
    padding: 10px 24px;
    background-color: $main_color;
    color: $white;
    position: relative;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__icon{
    width: 84px;
    height: 39px;
    border: 1px solid $main_color;
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__searchbar {
    border: 1px solid $input_border;
    padding: 12px 40px;
    max-width: 550px;
    width: 100%;

    &::placeholder {
      font-size: 12px;
      color: $input_border;
    }
  }

  &__searchbtn {
    padding: 13px 48px;
    background-color: $main_color;
    color: $white;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__menu {
    width: 40px;
    height: 3px;
    background-color: $main_color;
    position: relative;
    display: none;
    transition: transform 0.5s;

    &::before {
      position: absolute;
      content: '';
      width: 40px;
      height: 3px;
      background-color: $main_color;
      top: -15px;
      left: 0;
    }

    &::after {
      position: absolute;
      content: '';
      width: 40px;
      height: 3px;
      background-color: $main_color;
      top: 15px;
      left: 0;
    }

    &--active {
      background-color: transparent;

      &::after {
        transform: rotate(45deg);
        top: 0;
      }
      &::before {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  @media (max-width: 1024px) {

    .logo {
      max-width: 200px;
    }

    &__menu {
      display: block;
    }

    &__top {
      justify-content: space-between;
    }

    &__drop {
      position: absolute;
      width: 100%;
      height: fit-content;
      background-color: $footer_bg;
      bottom: 0;
      left: 0;
      top: 150px;
      z-index: 3;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 50px;
      display: none;

      &--active {
        display: flex;
      }
    }

    &__item {
      height: fit-content;
      font-size: 14px;
    }

    &__nav {
      margin-left: 50px;
      height: fit-content;
    }

    &__user {
      margin-right: 50px;
      margin-left: 0;
      // align-items: start;
      height: fit-content;
    }
  }

  @media (max-width: 375px) {
    padding: 30px 0;

    &__nav {
      flex-direction: column;
      margin-left: 0;
      margin-bottom: 10px;
    }

    &__user {
      margin: 0 10px;
    }

    &__icon {
      margin-left: auto;
    }

    &__drop {
      flex-direction: column;
      top: 100px;
    }

    &__item {
      text-align: center;
    }
  }
}

.hero {
  padding-bottom: 100px;

  &__top {
    display: flex;
    padding-bottom: 50px;
  }

  &__title {
    max-width: 880px;
    width: 100%;
    font-size: 80px;
    color: $title_color;
    margin-bottom: 50px;
  }

  &__span {
    color: $main_color;
  }

  &__link {
    background-color: $secondary_color;
    color: $white;
    padding: 35px 115px;
    margin-right: 32px;
    font-size: 24px;
    box-shadow: 0px 20px 50px rgba(255, 129, 129, 0.3);
  }

  &__catalog {
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  &__slider {
    display: flex;
    align-items: end;
  }

  &__btns {
    display: flex;
  }

  &__btn {
    width: 50px;
    height: 50px;
    border: 1px solid $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, border-color 0.5s, fill 0.5s;

    &:hover {
      background-color: $main_color;
      border-color: $main_color;

      path {
        fill: $white;
      }
    }

    &--prev {
      margin-right: 22px;
    }

    &--next {
      transform: rotate(180deg);
    }
  }

  &__numbers {
    font-size: 36px;

    span {
      font-size: 64px;
      color: $main_color;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    background-color: $main_color;
    color: $white;
    font-size: 30px;
    padding: 35px 101px;
    box-shadow: 0px -10px 20px rgba(75, 169, 255, 0.35);
  }

  @media (max-width:1024px) {
    &__top {
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      padding-bottom: 200px;
    }

    &__title {
      font-size: 64px;
      padding-right: 50px;
      margin-bottom: 0;
    }

    &__item {
      font-size: 18px;
      padding: 25px 50px;
    }

    // &__slider {
    //   // padding-bottom: 150px;
    // }

    &__content {
      position: relative;
    }

    &__link {
      font-size: 18px;
      padding: 28px 93px;
    }

    &__catalog {
      position: absolute;
      bottom: -760px;
      // left: 50%;
      // transform: translateX(-50%);
      max-width: 100%;
      width: 100%;
      justify-content: center;

      p {
        font-size: 18px;
      }
    }
  }

  @media (max-width:375px) {
    padding-bottom: 50px;
    
    &__title {
      font-size: 34px;
      padding-right: 0;
    }

    &__bottom {
      flex-direction: column;
    }

    &__catalog {
      bottom: -350px;
      flex-direction: column;
    }

    &__link {
      margin-right: 0;
      font-size: 14px;
      padding: 20px 67px;
      margin-bottom: 20px;
    }

    &__item {
      max-width: 100%;
      width: 100%;
      text-align: center;
  
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__btn {
      width: 24px;
      height: 24px;

      svg {
        width: 12;
        height: 12px;
      }

      &--prev {
        margin-right: 10px;
      }
    }

    &__numbers {
      font-size: 18px;

      span {
        font-size: 31px;
      }
    }
  }

}

.about {
  padding-bottom: 50px;

  &__title::after {
    content: 'О компании';
  }

  &__wrapper {
    display: flex;
  }

  &__content {
    max-width: 800px;
    margin-right: 20px;
  }

  &__text {
    font-size: 21px;
    margin-bottom: 65px;
    span {
      display: block;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__more {
    font-size: 24px;
    border: 1px solid $input_border;
    padding: 30px 150px;
    display: block;
    width: fit-content;
  }

  @media (max-width: 1024px) {
    
    &__text {
      max-width: 830px;
      font-size: 18px;

      span:nth-child(3) {
        display: none;
      }
      span:nth-child(4) {
        display: none;
      }
    }

    &__more {
      padding: 27px 115px;
      font-size: 18px;
    }
  }

  @media (max-width: 375px) {
    &__img {
      display: none;
    }

    &__text {
      font-size: 12px;
      margin-bottom: 30px;
    }

    &__more {
      padding: 20px 80px;
      font-size: 14px;
      margin: 0 auto;
    }
  }
}

.catalog {
  padding-bottom: 50px;

  &__title::after {
    content: 'Каталог';
  }

  &__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
  }

  &__filter-btn {
    font-size: 18px;
    padding: 9px 26px;
    transition: background-color 0.5s, color 0.5s;

    &:hover,
    &--active {
      background-color: $main_color;
      color: $white;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__form {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 25px rgba(119, 119, 119, 0.2);
    height: fit-content;
    padding: 25px 40px 60px;
    margin-right: 35px;

    label {
      font-size: 24px;
      font-weight: 600;
      color: $title_color;
      margin-bottom: 8px;
    }

    select {
      border: 1px solid $input_border;
      padding: 14px 40px;
      // max-width: 270px;
      // width: 100%;
      width: 270px;
      font-size: 18px;
      margin-bottom: 20px;

      option {
        padding: 14px 40px;
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }

  &__submit {
    background-color: $main_color;
    color: $white;
    padding: 20px 80px;
  }

  &__paggination {
    display: flex;
    justify-content: center;
  }

  &__page {
    font-size: 24px;
    padding: 10px 17px;
    font-weight: 700;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
      color: $white;
      background-color: $main_color;
    }

    &--active {
      color: $white;
      background-color: $main_color;
    }

    &--disable {
      cursor: default;

      &:hover {
        background-color: $white;
        color: $dark;
      }
    }
  }

  &__wrapper {
    margin-bottom: 80px;
  }

  @media (max-width:1024px) {

    &__filters {
      flex-wrap: wrap;
      padding: 0 200px;
      margin-bottom: 40px;
    }
    
    &__submit {
      padding: 16px 50px;
    }

    &__form {

      label {
        font-size: 20px;
      }

      select {
        padding: 12px 35px;
        font-size: 16px;
        width: 220px;
      }
    }
  }

  @media (max-width: 375px) {
    padding-bottom: 30px;
    
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__filters {
      padding: 0;
    }

    &__filter-btn {
      font-size: 10px;
      padding: 8px 14px;
    }

    &__form {
      padding: 14px 25px 35px;
      margin-bottom: 35px;

      label {
        font-size: 14px;
      }

      select {
        font-size: 10px;
        padding: 8px 22px;
        width: 150px;
      }
    }

    &__submit {
      font-size: 11px;
      padding: 11px 40px;
    }

    &__wrapper {
      margin-bottom: 30px;
    }

    &__page {
      font-size: 12px;
      padding: 6px 9px;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 42px;

  @media (max-width:1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width:375px) {
    grid-row-gap: 35px;
    grid-column-gap: 30px;
  }
}

.card {
  border: 1px solid $input_border;
  padding: 30px;
  max-width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: 36px;
    margin-bottom: 10px;
  }

  &__about {
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    background-color: $main_color;
    color: $white;
    padding: 4px 17px;
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $input_border;
    padding: 3px 10px;
  }

  &__minus {
    height: 3px;
    width: 15px;
    background-color: $secondary_color;
  }

  &__plus {
    height: 3px;
    width: 15px;
    background-color: $plus_color;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 15px;
      background-color: $plus_color;
      transform: rotate(90deg);
      top: 0;
      left: 0;
    }
  }

  &__count {
    padding: 0 10px;
  }

  @media (max-width:1024px) {
    padding: 25px;

    &__title {
      font-size: 28px;
    }

    &__about {
      font-size: 14px;
      margin-bottom: 24px;
    }

    &__price {
      font-size: 12px;
    }

    &__count {
      font-size: 12px;
    }
  }

  @media (max-width: 375px) {
    padding: 12px 16px;

    &__title {
      font-size: 16px;
      margin-bottom: 8px;
    }

    &__about {
      font-size: 8px;
      margin-bottom: 14px;
    }

    &__price {
      font-size: 8px;
      padding: 3px 8px;
    }

    &__quantity {
      padding: 2px 5px;
    }

    &__count {
      padding: 0 5px;
      font-size: 8px;
    }

    &__minus {
      width: 7px;
      height: 2px;
    }

    &__plus {
      width: 7px;
      height: 2px;

      &::after {
        width: 7px;
        height: 2px;
      }
    }

    &__add {
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.footer {
  font-size: 18px;
  background-color: $footer_bg;
  padding: 50px 0;

  &__logo {
    margin-bottom: 50px;
    display: block;
  }

  &__text:not(:last-child) {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 37px;
  }

  &__blocks {
    display: flex; 
    justify-content: space-between;
  }



  &__item {
    color: $footer_link;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    transition: opacity 0.5s;

    &:hover{
      opacity: 0.5;
    }

    &--mail {
      position: relative;
      padding-left: 30px;

      &::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background-image: url(../img/mail.svg);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    
    &--tel {
      display: block;
      position: relative;
      padding-left: 30px;

      &::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        background-image: url(../img/tel.svg);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--tel2{
      padding-left: 30px;
    }
  }
  

  @media (max-width: 1024px) {

    &__logo {
      max-width: 200px;
      margin-bottom: 30px;
    }
    
    &__title {
      font-size: 20px;
    }

    &__link {
      font-size: 14px;
    }

    &__text {
      font-size: 14px;
    }
  }

  @media (max-width: 375px) {

    padding: 30px 0;

    &__logo {
      max-width: 100px;
    }

    &__blocks {
      flex-direction: column;
      align-items: center;
    }

    &__block {
      margin-bottom: 25px;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:nth-child(1) {
        order: 1;
        margin-bottom: 0;
      }
    }

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 15px;
    }

    // &__title {
    //   font-size: 6px;
    //   margin-bottom: 10px;
    // }

    // &__text {
    //   font-size: 6px;
    // }

    // &__link {
    //   font-size: 5px;
    // }

    // &__item:not(:last-child) {
    //   margin-bottom: 1px;
    // }

    // &__link--tel{
    //   padding-left: 10px;

    //   &::before {
    //     width: 5px;
    //     height: 5px;
    //     background-size: cover;
    //   }
    // }

    // &__link--tel2 {
    //   padding-left: 10px;
    // }

    // &__link--mail{
    //   padding-left: 10px;

    //   &::before {
    //     width: 5px;
    //     height: 5px;
    //     background-size: cover;
    //   }
    // }
  }
}