header.header
  a.logo(href="#")
    img(src="img/logo.png", alt="logo")
  nav.header__nav
    li.header__item Главная 
    li.header__item Pro-Запрос 
    li.header__item Гараж
    li.header__item Контакты 
    li.header__item Заказы
  .header__user 
    button.header__cart
    .header__price 
    button.header__login